.card_container{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: columns;
    align-items:flex-start;
    width: 366px;
    height: 356px;
    padding: 24px 16px;
    gap: 32px;
};



